// my colors

$color-background: #e5e5e5;
$color-dark: #1d1d1d;
$color-gray: #8c8c8c;
$color-green: #97eab9;
$color-purple: #b4b7ff;
$color-orange: #ffd280;
$color-white: #ffffff;
$color-pink: #fbe0dc;
$color-lightRed: #ff868e;
