@import '../../styles/variable';

.root {
}

.title {
  padding: 10px 20px;
  font-size: 32px;
  font-weight: 500;
}

.listItems {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (max-width: 425px) {
  .listItems {
    flex-direction: column;
    margin: 20px;
  }
}
